.pagination-controls button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.pagination-controls button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls button span {
  margin-right: 5px;
}

.pagination-controls button:first-child span {
  margin-right: 10px;
}

.pagination-controls button + button {
  margin-left: 10px; /* Adjust the spacing as needed */
}
