
.carousel {
  display: flex;  
  flex-direction: column-reverse; 
  overflow-y: auto; 
  scroll-snap-type: y mandatory; 
  height: 300px; 
}

.carouselItem {
  scroll-snap-align: start;
  flex: 0 0 auto;
  height: 100%;
  width: 100%; 
}

.eventImage {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin-top: 10px; 
}

.eventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.event {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  background-color: #f9f9f9;
}
  
.eventName {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
  
.eventDescription {
  margin-bottom: 10px;
}
