.carousel {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden; /* Hide scrollbar */
  height: 300px;
  scroll-snap-type: x mandatory; /* Enable snap-scrolling */
}

.carouselItem {
  scroll-snap-align: start;
  flex: 0 0 auto;
  height: 100%;
  width: 400px; /* Adjust card width as needed */
  margin-right: 20px; /* Adjust spacing between cards */
  animation: scrollAnimation 5s infinite; /* Adjust duration and timing as needed */
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Slide the carousel to the left */
  }
}

.eventImage {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px; 
}

.eventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%; /* Adjust max-width to prevent overflow */
  background-color: #f9f9f9;
}

.eventName {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.eventDescription {
  margin-bottom: 10px;
}
