.event-detail {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-detail h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .event-detail h2 {
    font-size: 18px;
    margin-bottom: 10px;

  }
  
  .event-detail p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;

  }

  .event-detail img {
    max-width: 60%; 
    height: auto;
    display: block;
    margin: 0 auto 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
  }
  
  .event-detail img:hover {
    transform: scale(1.05); 
  }
