.org-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items from the top to ensure uniformity */
  justify-content: center;
  overflow-x: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
}

.org-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  padding: 10px;
  width: 150px; /* Adjusted width for better spacing */
  background-color: #f9f9f9;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.org-card:hover {
  transform: scale(1.1);
}

.org-image {
  width: 100px; /* Fixed width for a consistent circular shape */
  height: 100px; /* Fixed height to match width for a perfect circle */
  object-fit: cover;
  border-radius: 50%; /* Ensures the image is circular */
}

.org-name {
  font-size: 1rem;
  margin-top: 10px; /* Provides a clear separation between the image and the text */
  display: block; /* Ensures the text is treated as a separate block */
}

.org-desc {
  display: none; /* Continues to hide the description */
}

.pagination-arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.pagination-arrow.left {
  left: 0;
}

.pagination-arrow.right {
  right: 0;
}