.school-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .school-card {
    padding: 10px;
  }
  
  .school-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .school-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .school-card p {
    font-size: 1em;
    color: #555;
  }
  
  /* Styles for React Slick dots */
  .slick-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
  }
  
  .slick-dots li button {
    font-size: 12px;
    color: #888;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .slick-dots li button:hover {
    color: #555;
  }
  
  .slick-dots li.slick-active button {
    color: #007A99;
  }
  