.nav-links {
  display: flex;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #82a9cd;
  color: white;
  padding: 25px;
  font-size: 18px;
  border:#97a8cd;
  border-radius: 0px;
  cursor: pointer;
}

.dropbtn.active {
  background-color: #97a8cd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bdbeb1;
}
