.search-container {
  position: relative;
  margin-top: 0px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center; 
}

.search-bar {
  padding: 20px 30px;
  border: 2px solid #435b74;
  border-radius: 50px;
  outline: none;
  width: 500px;
  height: 25px;
  justify-content: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #f8f9fa;
  color: #333;
  position: relative;
}

.search-bar::before {
  content: "";
  position: absolute;
  left: 0; 
  top: 50%;
  transform: translateY(-50%);
  width: calc(50vw - 250px + 300px); 
  height: 3px; 
  background-color: #435b74; 
}

.search-bar::before {
  position: absolute;
  top: calc(50% - 1px);
  left: -50vw; 
  right: -50vw; 
  height: 3px;
  background-color: #435b74;
  z-index: -4;
}

.search-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%; 
  transform: translateY(-50%);
  width: calc(50vw - 250px + 300px); 
  height: 3px;
  background-color: #435b74;
}
.search-bar input {
  width: calc(100% - 60px); 
  border: none; 
  background: transparent;
  font-size: inherit; 
  font-family: inherit; 
  color: inherit; 
  outline: none; 
}

.suggestions {
    list-style: none;
    position: absolute;
    width: 100%;
    background: white;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none; /* Seamless connection with the input */
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Shadow for the dropdown */
    max-height: 300px; /* Limit height of dropdown */
    overflow-y: auto; /* Enable scrolling */
    z-index: 1000; /* Ensure dropdown is above other content */
}

.suggestions li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestions li:not(:last-child) {
    border-bottom: 1px solid #eee; /* Separates each suggestion */
}

.suggestions li:hover {
    background-color: #f8f8f8; /* Hover state */
}

.suggestions li strong {
    color: #333; /* Make the text slightly bolder */
    font-weight: normal; /* Adjust based on your design requirements */
}