.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 12px 20px;
  border: 2px solid #9fc1e5; 
  border-radius: 25px;
  outline: none;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 16px; 
  transition: border-color 0.3s ease; 
}

.search-bar::placeholder {
  color: #888;
}

.search-bar:hover {
  border-color: #0b3767; 
}
