@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
  }
  
  #about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .about-box {
    background-color: #f9fcfe;
    border: 1px solid #bdc4ca;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .testimonials-section {
    margin-top: 40px;
  }
  
  .testimonial {
    margin-bottom: 20px;
  }
  
  .quote {
    font-style: italic;
  }
  
  .name {
    font-weight: bold;
  }
  
  .statistics-section {
    margin-top: 40px;
  }
  
  .statistics {
    display: flex;
    justify-content: space-around;
  }
  
  .call-to-action {
    margin-top: 40px;
  }
  
  .join-button {
    padding: 10px 20px;
    background-color: #2777c1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .join-button:hover {
    background-color: #1f3c8d;
  }
  