.event-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
  }
  
  .event-card {
    flex: 0 0 auto;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .event-card:hover {
    transform: translateY(-5px);
  }
  
  .event-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .event-details {
    padding: 24px;
  }
  
  .event-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  .event-meta {
    color: #777777;
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .event-description {
    font-size: 16px;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .event-card {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .event-card {
      flex-basis: calc(100% - 20px);
    }
  }
  .events-button {
    background-color: #a8c3df; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .events-button:hover {
    background-color: #87a6c7;
  }

  