body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.event-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between cards */
}

.event-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

.event-info {
    flex-grow: 1;
}

.event-name {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.event-desc {
    margin: 5px 0 0;
    font-size: 0.9rem;
}

.event-image {
    width: 60px; /* Small fixed width */
    height: 60px; /* Maintain aspect ratio */
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover; /* Ensure the image covers the area */
}


/* Button */
.filter-toggle-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

.filter-toggle-btn:hover {
  background-color: #45a049;
}

/* Advanced filters container */
.advanced-filters {
  display: none;
}

.advanced-filters.active {
  display: block;
  animation: fadeInUp 0.3s ease;
}

.advanced-filters-container {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin-top: 40px;
}

/* Labels */
.advanced-filters-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Inputs */
.advanced-filters-container select,
.advanced-filters-container input[type="date"] {
  width: calc(100% - 20px); /* Adjusting width to account for margin */
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
