.navbar {
  background-color: #f8f9fa;
  padding: 20px;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center; 
  flex-grow: 1;
}

.nav-links a {
  text-decoration: none;
  color: #2d4188;
  font-size: 18px;
  padding: 15px 60px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #eaf0fa;
}

.dropdown-content {
  display: flex;
}

.nav-links a:not(:last-child) {
  margin-right: 20px;
}
